.main {
    background-color: black;
    height: 100vh;
    width: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    margin: 0 !important;
}

.first {
    width: 100%;
    height: 90vh;
    display: flex;
}
.second {
    width: 100%;
    height: 10vh;
    background: linear-gradient(
        90deg,
        rgba(172, 43, 151, 1) 0%,
        rgba(132, 104, 200, 1) 50%,
        rgba(92, 145, 235, 1) 100%
    );
}
.left-menu {
    width: 30%;
    height: 90vh;
}
.catalog {
    width: 70%;
    background-color: teal;
    height: 90vh;
}

.center-second-content {
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-info {
    width: 70%;
}
.extract {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-top: 5px;
}
.register-info {
    font-size: 1rem;
}

.extract,
.register-info {
    color: white;
    font-weight: 400;
}

.register-button {
    width: 243px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.logo-spotify {
    width: 78px;
    height: 24px;
}

.left-nav {
    background-color: #121212;
    height: 20vh;
    border-radius: 9px;
    width: 90%;
    margin: 0 5%;
}
.left-nav ul {
    list-style: none;
    color: #b3b3b3;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    height: 20vh;
    font-weight: 600;
}

.left-nav ul li:hover,
.library-title:hover {
    color: white;
}

.nav-icons {
    font-size: 22px;
    margin-right: 20px;
    max-width: 22px;
    max-height: 22px;
}
.library {
    height: 67vh;
    background-color: #121212;
    width: 90%;
    margin: 1.5vh 5%;
}
.library-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 10%;
    color: #b3b3b3;
    height: 50px;
}
.playlist-menu {
    height: 25vh;
    width: 90%;
    margin: 20px 5%;
    overflow-y: scroll;
    border-radius: 9px;
}
.playlist-card {
    background-color: #242424;
    width: 90%;
    margin: 20px 5%;
    padding: 20px;
    border-radius: 9px;
}
.playlist-create {
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}
.simple-create {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.playlist-button {
    appearance: none;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    margin: 10px 0;
    border: none;
}
