* {
    box-sizing: border-box;
}

/* contenu ne dépasse pas et 0 margin vertical */
.container {
    max-width: 1100px;
}
/* 
créer des variables */
:root {
    --maincolor: #ffffff;
    --text: #000000;
}
/* image font le maximum de la taille de leur contenant et ne depasse pas du contenant */
img {
    width: 100%;
    max-width: 100%;
}

/* Converti 10 px en 1 rem */
html {
    font-size: 62.5%;
}

.main {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

.first {
    width: 100%;
    height: 90vh;
    display: flex;
}

.second {
    width: 100%;
    height: 10vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(118, 9, 121, 1) 0%,
        rgba(255, 0, 0, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.second > :nth-child(1) {
    width: 80%;
    padding: 1rem;
    color: white;
}
.second > div > :nth-child(1) {
    text-transform: uppercase;
}

.second > :nth-child(2) {
    width: auto;
    color: white;
    padding: 1rem;
}

.second > div > :nth-child(2) {
    font-weight: 700;
}

.second > div > a {
    color: rgb(247, 0, 41) 0%;
    background-color: #ffffff;
    border-radius: 2.5em;
    padding: 1.3rem;
}

.left-menu {
    width: 25%;
    background-color: rgb(25, 176, 176);
    height: 90vh;
}

.catalog {
    color: #ffffff;
    width: auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 5, 1) 0%,
        rgba(85, 85, 85, 1) 100%
    );
    height: 90vh;
}

.logo-spotify {
    width: auto;
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
    align-items: flex-start;
}

.left-menu {
    background-color: #000000;
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    align-content: stretch;
}

.nav-icons {
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.nav {
    margin-bottom: 5rem;
}
.library {
    margin-bottom: 2.5rem;
}

.library > :nth-child(1) {
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.librarydiv {
    background-color: grey;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.library > :nth-child(2) > a {
    list-style: none;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: black;
}

.library > :nth-child(2) > a:hover {
    color: white;
    background-color: rgb(252, 13, 13);
}

.librarydiv > :nth-child(1) {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.librarydiv > :nth-child(2) {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.suggestion {
    background-color: grey;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1em;
    overflow: scroll;
    height: 10vh;
    scrollbar-color: white;
    scrollbar-width: thin;
}

.suggestion > :nth-child(1) {
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.suggestion::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestion {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content-cards {
    display: flex;
    padding: 1rem;
}

.content {
    overflow: scroll;
}

.cards {
    background-color: black;
    margin-right: 1rem;
    border: solid 5px black;
    border-radius: 25px;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px;
    color: white;
    padding: 1rem;
    background-color: black;
}

.catalog-nav-buttons2 {
    display: none;
}

.catalog-nav-buttons > :nth-child(1) {
    background-color: white;
    color: #000000;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 1rem;
}

@media (max-width: 450px) {
    .content-cards {
        display: flex;
        flex-direction: column;
    }

    .left-menu {
        width: 100%;
        position: relative;
    }

    .nav {
        width: auto;
    }

    .catalog-nav-buttons {
        display: none;
    }

    .catalog-nav-buttons2 {
        display: block;
        background-color: white;
        color: #000000;
        border-radius: 25px;
        padding: 1rem;
        margin-right: 1rem;
    }

    .first {
        overflow: scroll;
    }

    .btn-nav {
        display: block;
    }

    .content {
        display: none;
    }
}

/* LECTEUR AUDIO */
/* Styliser les boutons du lecteur audio */
audio::-webkit-media-controls-panel {
    background-color: black;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    color: white;
    background-color: #ffffff;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display-container {
    color: white;
}

/* PLAYER, TUTORIAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background: url('https://assets.codepen.io/210284/music-bg_1.jpg') center
        center;
    background-size: cover;
    color: #1f2937;
    font-family: 'Inter', sans-serif;
}
.hidden {
    display: none;
}
.player {
    max-width: 500px;
    margin: 7rem auto;
    background: white;
    padding: 36px 32px 24px 32px;
    border-radius: 14px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.player-track-meta {
    text-align: center;
}
.player-track-meta p {
    margin: 0;
    font-size: 20px;
    color: #0e0e0e;
    font-weight: 700;
}
.player-track-meta span {
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    position: relative;
    top: 1px;
    color: #a3a3a3;
}
.player-controls {
    display: flex;
    align-items: center;
}
.player-play-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}
.icon-container {
    fill: transparent;
    stroke: none;
}
.player-play-btn:hover {
    fill: #444444;
}
.player-play-btn svg {
    color: #0e0e0e;
    position: relative;
    left: 0.5px;
    width: 36px;
    height: 36px;
    display: block;
}
.player-play-btn:hover svg {
    color: #ffffff;
}
.player-timeline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.player-progress {
    display: flex;
    postion: relative;
    height: 6px;
    background: #a3a3a3;
    border-radius: 25px;
    margin: 0 5px;
    flex: 10;
    flex-basis: 100%;
    overflow: hidden;
}
.player-progress-filled {
    height: 6px;
    background: #0e0e0e;
    flex: 0;
    flex-basis: 0%;
    border-radius: 25px;
}
.player-time {
    padding: 2px 5px;
}
.player-volume-container {
    width: 15%;
}
.player-volume {
    height: 28px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}
.player-volume:focus {
    outline: none;
}
.player-volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #0e0e0e;
    border-radius: 10px;
}
.player-volume::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
.player-volume:focus::-webkit-slider-runnable-track {
    background: #0e0e0e;
}
.player-volume::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #0e0e0e;
    border-radius: 10px;
}
.player-volume::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
    margin-top: -4px;
}
.player-volume::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #0e0e0e;
    border-radius: 10px;
}
.player-volume::-ms-fill-lower {
    background: #0e0e0e;
    border-radius: 10px;
}
.player-volume::-ms-fill-upper {
    background: #0e0e0e;
    border-radius: 10px;
}
.player-volume::-ms-thumb {
    margin-top: 1px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: none;
    background: #0e0e0e;
    cursor: pointer;
}
.player-volume:focus::-ms-fill-lower {
    background: #38bdf8;
}
.player-volume:focus::-ms-fill-upper {
    background: #38bdf8;
}
